#articulos h3 {
  text-align: left;
}

#articulos h1, h2 {
  text-align: center;
}

#articulos .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#articulos article {
  margin: 15px;
}

#articulos img {
  width: 100%;
  max-width: 230px;
}