#banner {
  margin-top: 50px;
}

#banner img {
  width: 100%;
  height: 100%;
}

#banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000;
}

#banner h3 {
  font-size: 28px;
}

#banner footer {
  color: #000;
  text-decoration: none;
  width: 400px;
}

#banner input {
  display: block;
  color: #000;
  text-decoration: none;
  width: 580px;
  padding: 7px;
  margin top: 10px;
  border: 3px solid #000;
}

#banner input:hover {
  background: rgba(51,51,51,0.5);
}