<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boleta de Venta</title>
</head>
<body>
<div id="BoletaVenta">
    <table>
        <tr v-for="i=0 in 10">
        <td>
            Nombre del comprador:{{listaDatos[i].nombComp}}
        </td>
        <td>
            Apellido:{{listaDatos[i].apelCom}}
        </td>
        <td>
            Direccion:{{listaDatos[i].dir}}
        </td>
        <td>
            Id de la venta:{{listaDatos[i].idventa}}
        </td>
       <td>
           Id de la sede:{{listaDatos[i].idsede}}
       </td>
            <td>
                El producto escogido es:{{listaDatos[i].nomprod}}
            </td>
            <td>
                Costo:{{listaDatos[i].costo}}
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script>
        new Vue({
        el: '#BoletaVenta',
data:{
listaDatos:[]
},
methods:{
getlista:function(){
axios.get('/Venta').then(response =>{
this.listaDatos=response.data})
}
},
mounted:function(){
this.getlistaDatos();
}
});
</script>
</body>
</html>