<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estadistica de Ventas</title>
    <link rel="stylesheet" href="fonta/fonta/css/fontello.css">
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
<header>
    <div class="contenedor">
        <h1 class="icon-tools">BIENVENIDO AL REPORTE DE VENTAS</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a href="inicio.html" class="alert-link">Volver a la pagina principal </a>
        </nav>
    </div>
</header>
<div id="ReporteVenta">
    <section id="banner">
        <table>
            <tr >
                <td>
                    El producto con mayor demanda fue:{{listado[0].nombreproducto}}.
                </td>
            </tr>
            <tr>
                <td>
                    Su sede se encuentra en:{{listado[0].nombresede}}.
                </td>
            </tr>
                <td>
                    El area correspondiente al producto es:{{listado[0].nombrearea}}.
                </td>
            <tr>
                <td>
                    La cantidad comprada fue:{{listado[0].cantidad}} unidad(es).
                </td>
            </tr>
            <tr>
                <td>
                    El costo actual del producto es:{{listado[0].costo}}.
                </td>
            </tr>
        </table>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        new Vue({
        el: '#ReporteVenta',
data:{
listado:[]
},
methods:{
getlistado:function(){
axios.get('/estadistica').then(response =>{
this.listado=response.data})
}
},
mounted:function(){
this.getlistado();
}
});
</script>
</div>
<footer >
    <div >Desarrollado con fines educativos.<br>
        Proyecto POO-Grupo 5
    </div>
</footer>
<footer>
    <div class="contenedor">
        <p class="copy">Ferreteria FE &copy; 2020</p>
    </div>
</footer>
</body>
</html>