@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(articulos.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background: #333;
  color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  z-EscogerArea: 100;
}

.contenedor {
  width: 98%;
  margin: auto;
}

h1 {
  float: left;
}

header .contenedor {
  display: table;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

#Bienvenidos {
  text-align: center;
}

#Bienvenidos h1 {
  text-align: center;
}

@media (min-width:1100px) {
  .contenedor {
    width: 1100px;
  }
}

footer{
  background-color: #fff;
  width: 100%;
  height: 50%;
  top: 100px;
  bottom: 0;
  position: relative;
}

footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}

.copy {
  font-size: 20px;
}

form {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}