<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="fonta/fonta/css/fontello.css">
    <link rel="stylesheet" href="/estilos.css">
</head>
<header>
    <div class="contenedor">
        <h1 class="icon-tools">Inventario:</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
            <a href="/inicio.html">Volver</a>
        </nav>
    </div>
</header>
<body>
<div id="inventario">
    <section id="banner">
        <table>
            <tr v-for="i=1 in 48">
                <td>
                    Codigo de Sede: {{lista[i-1].idsede}}
                </td>
                <td> </td>
                <td>
                    Codigo de Area: {{lista[i-1].idarea}}
                </td>
                <td> </td>
                <td>Nombre del Producto: {{lista[i-1].nombreprod}}
                </td>
                <td> </td>
                <td>Existencias: {{lista[i-1].existencias}}
                </td>
                <td> </td>
                <td>Costo en (S/): {{lista[i-1].costo}}
                </td>
            </tr>
        </table>
        <ul>
            <li>
            </li>
            <li>
                Leyenda:
            </li><li>
            Codigo de Sede 100: Sede de San Juan de Lurigancho
        </li><li>
            Codigo de Sede 200: Sede de Comas
        </li><li>
            Codigo de Sede 300: Sede de Jesus Maria
        </li><li>
            Codigo de Area 110, 510 y 910: Area de Electricidad
        </li><li>
            Codigo de Area 210, 610 y 1010: Area de Pintura
        </li><li>
            Codigo de Area 310, 710 y 1110: Area de Gasfiteria
        </li><li>
            Codigo de Area 410, 810 y 1210: Area de Seguridad
        </li>
        </ul>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        new Vue({
        el: '#inventario',
data:{
lista:[]
},
methods:{
getlista:function(){
axios.get('/inventario').then(response =>{
this.lista=response.data})
}
},
mounted:function(){
this.getlista();
}
});
</script>
</div>
<footer >
    <div >Desarrollado con fines educativos.<br>
        Proyecto POO-Grupo 5
    </div>
</footer>
<footer>
    <div class="contenedor">
        <p class="copy">Ferreteria FE &copy; 2020</p>
    </div>
</footer>
</body>
</html>