#venta {
  margin-top: 100px;
}

#venta .contenedor {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
  color: #000;
}

#venta h3 {
  font-size: 28px;
}

#venta footer {
  color: #000;
  text-decoration: none;
  width: 400px;
}

#venta input {
  display: block;
  color: #000;
  text-decoration: none;
  width: 690px;
  padding: 7px;
  margin top: 10px;
  border: 3px solid #111;
}

#venta input:hover {
  background: rgba(51,51,51,0.5);
}